body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: rgba(#272727, 1);
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;  

  li {
    list-style: none;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 0 10px;
    }
}

